.angular-google-map-container { 
  height: 380px;
  width: 500px
}

body {
  background-color: #F3F8F2;
}

/////LOGIN PAGE//////

#auth-page {
  height: 100vh;
  width: 100vw;
  background-image: url('../../images/purplemountain.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.login-container {
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  margin-top: 94px;
  height: 450px;
  position: relative;
  z-index: 1;

  .opacity-overlay {
    position: absolute;
    background-color: lightgrey;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .about-app {
    background-color: #FCF8EF;
    margin-top: 70px;
    height: 175px;
    margin-bottom: 50px;
  }

  .login-btn-container {
    margin-top: 30px;
    border-radius: 10px;

    .google-btn {
      padding: 0;
      border-radius: 10px;
    }

    .google-btn-img {
    height: 51px;
   }
  } 
}

/////DASHBOARD PAGE/////

#dashboard-options {
  border: 2px solid black;
  height: 600px;
  margin-left: 35px;

  #dashboard-header {
    margin-bottom: 70px;
  }

  #find-option {
    border: 2px solid black;
    margin-bottom: 50px;

    .goToFindsBtn {
      margin-top: 11px;
    }
  }

  #hide-option {
    border: 2px solid black;
    margin-bottom: 50px;

    .goToHidesBtn {
      margin-top: 11px;
    }

  }
}

#dashboard-map {
  border: 2px solid black;
  width: 537px;
  margin-top: 108px;
  margin-left: 100px;
}

/////CACHE DETAIL PAGE/////

#cache-detail-header {
  border: 2px solid black;
}


/////MY FINDS PAGE/////

.finds-list {
  margin-top: 30px;

  .finds-cards {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid black;
  height: 75px;

  .find-card-name {
    padding: 17px;
  }

  .find-card-btn {
    padding: 9px;
  }
}
}

/////FINDS DETAIL PAGE/////





/////MY HIDES PAGE////

.hides-list {
  margin-top: 30px;

  .hides-cards {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid black;
  height: 75px;

  .hides-card-name {
    padding: 17px;
  }

  .hides-card-btn {
    padding: 9px;
  }
}
}
