.angular-google-map-container { 
  height: 380px;
  width: 500px
}

/////LOGIN PAGE//////

.login-container {
  border: 2px solid black;
  height: 300px;

  .about-app {
    border: 2px solid black;
    margin-top: 10px;
    height: 100px;
  }

  .login-btn-container {
    margin-top: 10px;

    .google-btn {
      padding: 0;
    }

    .google-btn-img {
    height: 51px;
   }
  } 
}

/////DASHBOARD PAGE/////

#dashboard-options {
  border: 2px solid black;
  height: 600px;
  margin-left: 35px;

  #dashboard-header {
    margin-bottom: 70px;
  }

  #find-option {
    border: 2px solid black;
    margin-bottom: 50px;

    .goToFindsBtn {
      margin-top: 11px;
    }
  }

  #hide-option {
    border: 2px solid black;
    margin-bottom: 50px;

    .goToHidesBtn {
      margin-top: 11px;
    }

  }
}

#dashboard-map {
  border: 2px solid black;
  width: 537px;
  margin-top: 108px;
  margin-left: 100px;
}