.angular-google-map-container { 
  height: 380px;
  width: 500px
}

body {
  background-color: #CBD2D0;
}

/////LOGIN PAGE//////

#auth-page {
  height: 100vh;
  width: 100vw;
  background-image: url('../../images/purplemountain.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.login-container {
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  margin-top: 94px;
  height: 450px;
  position: relative;
  z-index: 2;

  .opacity-overlay {
    position: absolute;
    background-color: lightgrey;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .about-app {
    background-color: #FCF8EF;
    margin-top: 70px;
    height: 175px;
    margin-bottom: 50px;
  }

  .login-btn-container {
    margin-top: 30px;

    .google-btn {
      padding: 0;
    }

    .google-btn-img {
      margin-top: 5px;
      height: 51px;
   }
  } 
}

/////DASHBOARD PAGE/////

#dashboard-options {
  background-color: #F3F8F2;
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  height: 600px;
  margin-left: 35px;
  margin-top: 70px;
  padding: 0;

  #dashboard-header {
    margin-bottom: 0px;
    height: 100px;
    padding-left: 10px;
    
    h1 {
      font-family: 'Orbitron', sans-serif;
      font-size: 61px;
      border-bottom: 2px solid #C1DDD6; 
      margin: 0;
      margin-top: 25px;
      margin-right: 150px;
      padding: 0;
    }
  }

.outer-container {
  margin: 0;
  padding-right: 0;
}


.options-container {
  margin-top: 25px;

   .go-arrow {
      color: white;
      height: 50px;
      width: 50px;
      position: absolute;
      right: 6px;
      bottom: 12px;
    }
}

  #find-option {
     background-color: #0B3C49;
     padding: 5px;
     margin-left: 15px;
     margin-bottom: 5px;
     height: 200px;
     width: 300px;
     position: relative;
     
     h1 {
       font-family: 'Orbitron', sans-serif;
       color: white;
       margin-top: 5px;
       margin-left: 5px;
     }
  }

  #hide-option {
     background-color: #731963;
     padding: 5px;
     margin-left: 15px;
     margin-top: 5px;
     height: 200px;
     width: 300px;

    h1 {
       font-family: 'Orbitron', sans-serif;
       color: white;
       margin-top: 5px;
       margin-left: 5px;
     }

    // .goToHidesBtn {
  
    // }

  }

    .options-container-2 {
      margin-top: 25px;
      margin-left: 0;
      padding-left: 0;

       .go-arrow {
        color: white;
        height: 50px;
        width: 50px;
        position: absolute;
        right: 6px;
        bottom: 12px;
    }

      #badge-option {
      padding: 5px;
      margin-left: 15px;
      margin-bottom: 5px;
      height: 200px;
      width: 300px;

      h1 {
        font-family: 'Orbitron', sans-serif;
        margin-top: 5px;
        margin-left: 5px;
      }
    }

    #hide-something {
      background-color: #F0E100;
      padding: 5px;
      margin-left: 15px;
      margin-top: 5px;
      height: 200px;
      width: 300px;

      h1 {
        font-family: 'Orbitron', sans-serif;
        margin-top: 5px;
        margin-left: 5px;
      }
    }
  }
}

.map-legend {
  background-color: #F3F8F2;
  font-family: 'Gafata', sans-serif;
  border-bottom: #C1DDD6;
 
  .key-marker {
    height: 47px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

#dashboard-map {
  border: 2px solid #F0E100;
  width: 504px;
  margin-top: 151px;
  margin-left: 80px;
  padding: 0;
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);

}
 

/////CACHE DETAIL PAGE/////

#cache-detail-header {
  border: 2px solid black;
}


/////MY FINDS PAGE/////

#my-finds-page {
  height: 100vh;
  width: 100vw;
  background-image: url('../../images/myfinds-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 62px;
  left: 0;
  z-index: -1;
}

.finds-heading {
  font-family: 'Orbitron', sans-serif;

  h1 {
    font-size: 65px;
    margin-left: 25px;  
    margin-bottom: 40px; 
  }
  
}


.finds-search {
  margin-bottom: 10px;

  .search-btn {
    background-color: #F0E100;
  }
}

.finds-list {
  margin-top: 30px;

  .finds-cards {
    margin-bottom: 10px;
    border-bottom: 2px solid #FFFDFD;
    height: 75px;

    .find-card-name {
      font-family: 'Gafata', sans-serif;
      padding: 17px;
      font-size: 25px;
      margin-bottom: 10px;

    .finds-fa-marker {
      margin-right: 5px;
      color: #FFFDFD;
    }
  }

  .find-card-btn {
    padding: 9px;
    margin-top: 15px;

    .details-btn {
      padding-top: 11px;
      font-family: 'Orbitron', sans-serif;
      background-color: #F0E100;
      box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    }
  }
}
}

/////FINDS DETAIL PAGE/////

#find-details {
  background-color: #F3F8F2;
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  height: 600px;
  margin-top: 70px;
  margin-left: 55px;
  padding: 0;
}

#find-detail-map {
  border: 2px solid #F0E100;
  width: 504px;
  margin-top: 151px;
  margin-left: 80px;
  padding: 0;
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
}




/////MY HIDES PAGE////

#my-hides-page {
  height: 100vh;
  width: 100vw;
  background-image: url('../../images/myhides-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 62px;
  left: 0;
  z-index: -1;
}

.hides-heading {
  font-family: 'Orbitron', sans-serif;

  h1 {
    font-size: 65px;
    margin-left: 25px;  
    margin-bottom: 40px; 
  }
  
}

.newHide-btn {
  margin-top: 5px;
  margin-left: 41px;
}

.hides-search {
  margin-bottom: 10px;

  .search-btn {
    background-color: #F0E100;
  }
}

.newHide-btn {
   padding-top: 11px;
   font-family: 'Orbitron', sans-serif;
   background-color: #F0E100;
   box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}

.hides-list {
  margin-top: 30px;

  .hides-cards {
    margin-bottom: 10px;
    border-bottom: 2px solid #FFFDFD;
    height: 75px;

    .hides-card-name {
      font-family: 'Gafata', sans-serif;
      padding: 17px;
      font-size: 25px;
      margin-bottom: 10px;

    .hides-fa-marker {
      margin-right: 5px;
      color: #FFFDFD;
    }
  }

  .hides-card-btn {
    padding: 9px;
    margin-top: 15px;

    .hidesDetail-btn {
      padding-top: 11px;
      font-family: 'Orbitron', sans-serif;
      background-color: #F0E100;
      box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    }
  }
}
}

