<div id="auth-page">

  <div class="logo col-xs-12 text-center"><img src=""></div>
  <div class='login-container col-xs-4 col-xs-offset-4'>
    <div class="opacity-overlay"></div>
    <div class='about-app col-xs-8 col-xs-offset-2'>
      <h3 class="auth-logo"><img id="logo" src="../../images/logo.png">Cache Me Outside</h3>
      <h4 class="auth-intro">Discover and hide geocaches with Cache Me Outside! If you're looking to explore the world around you, then you've come
        to the right place. Happy Hunting! </h4>
    </div>

    <div class='login-btn-container col-xs-8 col-xs-offset-2 text-center'>
      <button type='button' class='google-btn' ng-click='authenticate()'><img class='google-btn-img' src='../images/google-signin.png'></button>
    </div>

  </div>

</div>