<div id="auth-page">

  <div class='login text-center'>
    <div class='cache-logo col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2'><img id='cache-me-logo' src='../images/cache-me-outside-text.png'></div>
    <div class="intro col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <p>Experience the adventure of treasure hunting while discovering new and exciting places. Happy hunting! </p>
    </div>
    <div class='google-btn col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2'>
      <button type='button' class='login-btn' ng-click='authenticate()'><img class='google-btn-img' src='../images/google-signin.png'></button>
    </div>
  </div>

</div>