<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div map-lazy-load="https://maps.google.com/maps/api/js">
    <ng-map center="41,-87" zoom="3"></ng-map>
  </div>

  <div id="map_canvas" ng-controller="DashboardCtrl">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" bounds="map.bounds">
      <ui-gmap-markers models="caches" coords="'self'" icon="'icon'">
        <ui-gmap-windows show="show">
          <div ng-non-bindable class="text-center">{{description}}
            <div><button type="button" class="btn btn-warning btn-xs">Details</button></div>
          </div>
        </ui-gmap-windows>
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>

</body>

</html>