<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div id="dashboard-page" class="col-xs-12">

    <div id="dashboard-options" class="col-xs-6">
      <div id='dashboard-header'>
        <h1>Browse Caches</h1>
      </div>
      <div id="find-option" class="row">
        <h1 class="col-xs-6">Your Finds</h1>
        <button type="button" class="btn btn-default btn-lg goToFindsBtn" ng-click="goToFinds()">GO!</button>
      </div>
      <div id="hide-option" class="row">
        <h1 class="col-xs-6">Your Hides</h1>
        <button type="button" class="btn btn-default btn-lg goToHidesBtn" ng-click="goToHides()">GO!</button>
      </div>
      <div id="badge-option">
        <h1>Badges</h1>
        <div>
          Badge Icons go Here!
        </div>
      </div>
    </div>

    <div id="dashboard-map" class="col-xs-6">
      <div id="map_canvas" ng-controller="DashboardCtrl" class="dashboard-map">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" bounds="map.bounds">
          <ui-gmap-marker ng-class="map-markers" ng-repeat="cache in caches" coords="{latitude: cache.latitude, longitude: cache.longitude}"
            idKey="cache.id" icon="cache.option">
            <ui-gmap-window show="show">
              <div class="text-center">
                {{cache.name}}
                <div>
                  <a class="location" href="#!/cache/detail/{{cache.id}}">Details</a>
                </div>
              </div>

            </ui-gmap-window>
          </ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>

  </div>
</body>

</html>