<div id="hide-detail-page">

  <div id="hide-detail-header" class="col-xs-6">
    <h4>{{cache.name}}</h4>
  </div>

  <div class="hide-details-container col-xs-12">

    <div id="hide-details" class="col-xs-6">
      <h2>Location: {{cache.city}}, {{cache.state}}</h2>
      <h2>Coordinates:</h2>
      <p>Latitude: {{cache.latitude}}</p>
      <p>Longitude: {{cache.longitude}}</p>
      <h2>Description:</h2>
      <p>{{cache.description}}</p>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-danger" ng-click="deleteCache()">Delete</button>
        <button type="button" class="btn btn-default" ng-click="addComment()">Add Comment</button>
      </div>
    </div>

    <div id="hide-detail-map" class="col-xs-6">
      <div id="map_canvas" class="dashboard-map">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" bounds="map.bounds">
          <ui-gmap-marker coords="{latitude: cache.latitude, longitude: cache.longitude}" idKey="0">
            <ui-gmap-window show="show">
              <div class="text-center">
                {{cache.name}}
              </div>
            </ui-gmap-window>
          </ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>

  </div>

</div>