<div id="my-hides-page">

  <div class="hides-heading col-xs-12 row">
    <div class="hide-header col-xs-9">
      <h1>My Hides</h1>
    </div>
    <div class="hides-search col-xs-3 input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
      <input type="text" class="form-control" placeholder="Search for...">
    </div>
    <div class="hide-something-btn col-xs-12">
      <button class="btn btn-default col-xs-2 col-xs-offset-5" type="button" ng-click="goToNewHide()">Hide Something!</button>
    </div>

    <div class="hides-list col-xs-12" ng-repeat="hides in hiddenByMe">
      <div class="col-xs-6 col-xs-offset-3 hides-cards">
        <div class="hides-card-name col-xs-9">
          {{hides.name}}
        </div>
        <div class="col-xs-3 hides-card-btn">
          <button type="button" class="btn btn-default" ng-click="goToHidesDetail(hides.id)">Details</button>
        </div>
      </div>
    </div>
  </div>

</div>