.angular-google-map-container {
  height: 380px;
  width: 500px; }

.login-container {
  border: 2px solid black;
  height: 300px; }
  .login-container .about-app {
    border: 2px solid black;
    margin-top: 10px;
    height: 100px; }
  .login-container .login-btn-container {
    margin-top: 10px; }
    .login-container .login-btn-container .google-btn {
      padding: 0; }
    .login-container .login-btn-container .google-btn-img {
      height: 51px; }

#dashboard-options {
  border: 2px solid black;
  height: 600px;
  margin-left: 35px; }
  #dashboard-options #dashboard-header {
    margin-bottom: 70px; }
  #dashboard-options #find-option {
    border: 2px solid black;
    margin-bottom: 50px; }
    #dashboard-options #find-option .goToFindsBtn {
      margin-top: 11px; }
  #dashboard-options #hide-option {
    border: 2px solid black;
    margin-bottom: 50px; }
    #dashboard-options #hide-option .goToHidesBtn {
      margin-top: 11px; }

#dashboard-map {
  border: 2px solid black;
  width: 537px;
  margin-top: 108px;
  margin-left: 100px; }

#cache-detail-header {
  border: 2px solid black; }
