.angular-google-map-container {
  height: 680px;
  width: 800px; }

.login-container {
  border: 2px solid black;
  height: 300px; }
  .login-container .about-app {
    border: 2px solid black;
    margin-top: 10px;
    height: 100px; }
  .login-container .login-btn-container {
    margin-top: 10px; }
    .login-container .login-btn-container .google-btn {
      padding: 0; }
    .login-container .login-btn-container .google-btn-img {
      height: 51px; }
