.angular-google-map-container {
  height: 380px;
  width: 500px; }

body {
  background-color: #F3F8F2; }

#auth-page {
  height: 100vh;
  width: 100vw;
  background-image: url("../../images/purplemountain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.login-container {
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  margin-top: 94px;
  height: 450px;
  position: relative;
  z-index: 1; }
  .login-container .opacity-overlay {
    position: absolute;
    background-color: lightgrey;
    opacity: 0.2;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .login-container .about-app {
    background-color: #FCF8EF;
    margin-top: 70px;
    height: 175px;
    margin-bottom: 50px; }
  .login-container .login-btn-container {
    margin-top: 30px;
    border-radius: 10px; }
    .login-container .login-btn-container .google-btn {
      padding: 0;
      border-radius: 10px; }
    .login-container .login-btn-container .google-btn-img {
      height: 51px; }

#dashboard-options {
  border: 2px solid black;
  height: 600px;
  margin-left: 35px; }
  #dashboard-options #dashboard-header {
    margin-bottom: 70px; }
  #dashboard-options #find-option {
    border: 2px solid black;
    margin-bottom: 50px; }
    #dashboard-options #find-option .goToFindsBtn {
      margin-top: 11px; }
  #dashboard-options #hide-option {
    border: 2px solid black;
    margin-bottom: 50px; }
    #dashboard-options #hide-option .goToHidesBtn {
      margin-top: 11px; }

#dashboard-map {
  border: 2px solid black;
  width: 537px;
  margin-top: 108px;
  margin-left: 100px; }

#cache-detail-header {
  border: 2px solid black; }

.finds-list {
  margin-top: 30px; }
  .finds-list .finds-cards {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid black;
    height: 75px; }
    .finds-list .finds-cards .find-card-name {
      padding: 17px; }
    .finds-list .finds-cards .find-card-btn {
      padding: 9px; }

.hides-list {
  margin-top: 30px; }
  .hides-list .hides-cards {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid black;
    height: 75px; }
    .hides-list .hides-cards .hides-card-name {
      padding: 17px; }
    .hides-list .hides-cards .hides-card-btn {
      padding: 9px; }
